body, html {
  background-color: #F3F4F9;
  font-family: 'Inter', sans-serif;
  height: 100%;
  overflow: hidden;
}

#app {
  background-color: #F3F4F9;
}

.separator {
  background-color: #F3F4F9;
  height: 1rem;
}