html {
  background-color: #f3f4f9;
  font-family: "Inter", sans-serif;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

#app {
  background-color: #f3f4f9;
}

.separator {
  display: block;
  background-color: #f3f4f9;
  min-height: 1rem;
  height: 1rem;
  width: 100%;
}
